.controls {
  width: 60%;
  height: 40px;
  margin: 0 auto;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;

  i {
    font-size: 40px;
    color: rgb(121, 240, 168);
    text-shadow: 2px 2px 4px #000000;

    &:hover {
      cursor: pointer;
      color: rgb(79, 234, 107);
    }
  }
}
